/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




p {
  margin-bottom: 0 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


//CONTENT CSS 
.screen{
  border-radius:50% 50% 0 0 ;
}
.bg{
  background-image: url(./BTMovieBooking/bgmovie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.bg2{
  background-color: #f0eeee92;
  border-radius: 10px;
}

.Chair-row{
  display: flex;
  padding: 0 80px;
  justify-content: space-between;
}

.Chair {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.Chair-border{
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);

}

.Chair-hover {
  transition: 0.5s;
  &:hover {
    background-color: #333;
    color: white;
  }
}

.booking{
  background-color: rgb(226, 49, 49);
  color: white;
}
.booked{
  background-color: #157347;
  color: white;
}

.vertical-row{
  vertical-align: middle;
}

